.header{
    color: white;
    margin: 0 auto;
}

.weatherStats{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

#fiveDayfc{
    display: flex;
    justify-content: center;
}

.ok {
    border-style: solid;
    border-color: yellow;
}

.moderate {
    border-style: solid;
    border-color: gray;
}

.severe {
    border-style: solid;
    border-color: red;
}
